#logo {
  width: 70px !important;
	height: 50px;
	position: absolute;
	top: 25px;
  left: 30%;
  transition: all ease-out 0.5s;
  opacity: 0.1;
}
#logo >img{
  width: 70px !important;
	height: 50px;
}
#logo:hover{
  transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -web-transform: rotate(360deg);
  opacity: 0.3;
}
